.center{
    margin: 0 auto;
    width: 100%;
}
.div_border{
    border: 1px solid #cccc;
}
.aside_left{
    width:100% !important;
    height: 200px;
}
.fa-scrollbar__wrap {
    overflow-x: hidden;
}