.fa-cascader-option{
    position: absolute;
    z-index: 999;
    white-space:nowrap;
    background: #fff;
    left: 0;
    border: 1px solid #e4e7ed;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.fa-cascader-menu{
    display: inline-block;
    vertical-align: top;
    height: 204px;
    overflow: auto;
    border-right: 1px solid #e4e7ed;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 15px;
    min-width: 160px;
    list-style: none;
    li{
        line-height: 30px;
    }
    li em{
        width: 90%;
        display: inline-block;
        margin-right: 1%;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: middle;
        font-style: normal;
    }
}