/*弹窗*/
.fixed-pop-bg {
    position: fixed;
    background: #ccc;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
  }
  .fixed-pop-tit {
    padding: 10px 20px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #eaeaea;
  }
  .fixed-pop-con {
    background: #fff;
    padding: 40px 30px;
    width: 500px;
    margin: 200px auto 0;
    border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
  }
  .com-pop {
    position: absolute;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    min-height: 154px;
    min-width: 500px;
    left: 45%;
    padding-bottom: 10px;
    background: white;
    margin-left: -200px;
    margin-top: -82px;
    top: 20%;
	z-index:20;
  }
  .com-pop-text {
    margin:15px 15px 0 15px;
  }
  .close-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
    right: 20px;
    top: 15px;
    color:#ccc;
    background-position: -109px -2px;
  }
  .fa-dialog-footer{
    padding: 20px;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }