.fa-form--inline .fa-form-item,.fa-form--inline .fa-form-item__content {
	display: inline-block;
	vertical-align: top
}

.fa-form-item::after,.fa-form-item__content::after {
	clear: both
}

.fa-form--labfa-left .fa-form-item__label {
	text-align: left
}

.fa-form--labfa-top .fa-form-item__label {
	float: none;
	display: inline-block;
	text-align: left;
	padding: 0 0 10px
}

.fa-form--inline .fa-form-item {
	margin-right: 10px
}

.fa-form--inline .fa-form-item__label {
	float: none;
	display: inline-block
}

.fa-form-item__content .fa-input-group,.fa-form-item__label {
	vertical-align: middle
}

.fa-form--inline.fa-form--labfa-top .fa-form-item__content {
	display: block
}

.fa-form-item {
	margin-bottom: 0px
}

.fa-form-item::after,.fa-form-item::before {
	display: table;
	content: ""
}

.fa-form-item .fa-form-item {
	margin-bottom: 0
}

.fa-form-item--mini.fa-form-item,.fa-form-item--small.fa-form-item {
	margin-bottom: 18px
}

.fa-form-item .fa-input__validateIcon {
	display: none
}

.fa-form-item--medium .fa-form-item__content,.fa-form-item--medium .fa-form-item__label {
	line-height: 36px
}

.fa-form-item--small .fa-form-item__content,.fa-form-item--small .fa-form-item__label {
	line-height: 32px
}

.fa-form-item--small .fa-form-item__error {
	padding-top: 2px
}

.fa-form-item--mini .fa-form-item__content,.fa-form-item--mini .fa-form-item__label {
	line-height: 28px
}

.fa-form-item--mini .fa-form-item__error {
	padding-top: 1px
}

.fa-form-item__label {
	text-align: right;
	float: left;
	font-size: 14px;
	color: #606266;
	line-height: 40px;
	padding: 0 12px 0 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.fa-form-item__content {
	line-height: 40px;
	position: relative;
	font-size: 14px
}

.fa-form-item__content::after,.fa-form-item__content::before {
	display: table;
	content: ""
}

.fa-form-item__error {
	color: #f56c6c;
	font-size: 12px;
	line-height: 1;
	padding-top: 4px;
	position: absolute;
	top: 100%;
	left: 0
}

.fa-form-item__error--inline {
	position: relative;
	top: auto;
	left: auto;
	display: inline-block;
	margin-left: 10px
}

.fa-form-item.is-required .fa-form-item__label:before {
	content: '*';
	color: #f56c6c;
	margin-right: 4px
}

.fa-form-item.is-error .fa-input__inner,.fa-form-item.is-error .fa-input__inner:focus,.fa-form-item.is-error .fa-textarea__inner,.fa-form-item.is-error .fa-textarea__inner:focus {
	border-color: #f56c6c
}

.fa-form-item.is-error .fa-input-group__append .fa-input__inner,.fa-form-item.is-error .fa-input-group__prepend .fa-input__inner {
	border-color: transparent
}

.fa-form-item.is-error .fa-input__validateIcon {
	color: #f56c6c
}

.fa-form-item.is-success .fa-input__inner,.fa-form-item.is-success .fa-input__inner:focus,.fa-form-item.is-success .fa-textarea__inner,.fa-form-item.is-success .fa-textarea__inner:focus {
	border-color: #67c23a
}

.fa-form-item.is-success .fa-input-group__append .fa-input__inner,.fa-form-item.is-success .fa-input-group__prepend .fa-input__inner {
	border-color: transparent
}

.fa-form-item.is-success .fa-input__validateIcon {
	color: #67c23a
}

.fa-form-item--feedback .fa-input__validateIcon {
	display: inline-block
}