.fa-tree {
	position:relative;
	cursor:default;
	background:#fff;
	color:#606266
}
.fa-tree__empty-block {
	position:relative;
	min-height:60px;
	text-align:center;
	width:100%;
	height:100%
}
.fa-tree__empty-text {
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	color:#6f7180
}
.fa-tree__drop-indicator {
	position:absolute;
	left:0;
	right:0;
	height:1px;
	background-color:#409EFF
}
.fa-tree-node {
	white-space:nowrap;
	outline:0
}
.fa-tree-node:focus>.fa-tree-node__content {
	background-color:#fffbea
}
.fa-tree-node.is-drop-inner>.fa-tree-node__content .fa-tree-node__label {
	background-color:#409EFF;
	color:#666666
}
.fa-tree-node__content {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	height:26px;
	cursor:pointer
}
.fa-tree-node__content>.fa-tree-node__expand-icon {
	padding:6px
}
.fa-tree-node__content>.fa-checkbox {
	margin-right:8px
}
.fa-tree-node__content:hover {
	background-color:#fffbea
}
.fa-tree.is-dragging .fa-tree-node__content {
	cursor:move
}
.fa-tree.is-dragging .fa-tree-node__content * {
	pointer-events:none
}
.fa-tree.is-dragging.is-drop-not-allow .fa-tree-node__content {
	cursor:not-allowed
}
.fa-tree-node__expand-icon {
	cursor:pointer;
	color:#c0c4cc;
	font-size:12px;
	-webkit-transform:rotate(0);
	transform:rotate(0);
	-webkit-transition:-webkit-transform .3s ease-in-out;
	transition:-webkit-transform .3s ease-in-out;
	transition:transform .3s ease-in-out;
	transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.fa-tree-node__expand-icon.expanded {
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}
.fa-tree-node__expand-icon.is-leaf {
	color:transparent;
	cursor:default
}
.fa-tree-node__label {
	font-size:12px
}
.fa-tree-node__loading-icon {
	margin-right:8px;
	font-size:12px;
	color:#c0c4cc
}
.fa-tree-node>.fa-tree-node__children {
	overflow:hidden;
	background-color:transparent
}
.fa-tree-node.is-expanded>.fa-tree-node__children {
	display:block
}
.fa-tree--highlight-current .fa-tree-node.is-current>.fa-tree-node__content {
	background-color:#f0f7ff
}
