.fa-input-box{
    position: relative;
    display: inline-block;
}
.fa-input-file{
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    width:100%;
    height:100%;
}
.fa-upload-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.fa-upload-list li{
    transition: all .5s cubic-bezier(.55,0,.1,1);
    font-size: 14px;
    color: #606266;
    line-height: 1.8;
    margin-top: 5px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
}
.fa-upload-list li a{
    color: #606266;
    display: block;
    margin-right: 40px;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: ellipsis;
    text-decoration: none;
    transition: color .3s;
    white-space: nowrap;
}
.fa-upload-list li label{
    position: absolute;
    right: 5px;
    top: 0;
    right:20px;
    line-height: inherit;
}
.fa-upload-list li:hover{
    background-color:#e7f2ff;
}
.fa-upload-list li:hover .fa-icon-show{
   display:none;
}
.fa-icon-hide{
    display:none;
}
.fa-upload-list li:hover .fa-icon-hide{
    display:inline-block;
    cursor: pointer;
}
.fa-icon-upload-success{
    color: #67c23a;
}